/*
 * License TODO
 * */

html, body {
	height:100%;
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color:#999999;
	font-size:16px;
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	//position:absolute;             /* position in the center of the screen */
}

table {
	width:100%;
	height:100%;
	//left:0;
	//right:100%;
	//top:0;
	//bottom:100%;
	text-align:center; 
	vertical-align:middle;
	padding:1%;
}

.content_hanzi {
    background-color:#EEEEEE;
	//border: 1px solid grey;
	font-size:200%;
	border-radius:10px;
}

.content_pinyin {
    background-color:#EEEEEE;
	//border: 1px solid grey;
	font-size:130%;
	border-radius:10px;
}

.content_comment {
}

.content_translation {
    background-color:#EEEEEE;
	width:70%;
	//border: 1px solid grey;
	border-radius:10px;
}

.button_std {
	color: #FFF;
	background-color: #555;
	font-weight: bold;
	height:100%;
	width:3cm;
	font-size: 150%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	border-radius:10px;
	// TODO size isn't quite right
}
